{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>LIBRARY ESGI</h1>
    <section class="py-3">
        <div class="row">
            <div class="col">
                <p class="lead">Bienvenue sur la bibliothèque de l'ESGI</p>
            </div>
        </div>
    </section>
    <section class="py-3">
        <hr>
        <h1> Les 3 derniers livres ajoutés</h1>
        {% include 'frontend/book/_list.html.twig' with { books: books } %}
    </section>
    <section class="py-3">
        <hr>
        <h1> Les 3 derniers auteurs ajoutés</h1>
        {% include 'frontend/author/_list.html.twig' with { authors: authors } %}
    </section>
    <section class="py-3">
        <hr>
        <h1> Les 3 dernières catégories ajoutées</h1>
        {% include 'frontend/category/_list.html.twig' with { categories: categories } %}
    </section>
{% endblock %}
