{% extends 'base.html.twig' %}

{% block title %}Modifier la catégorie : {{ category.label }}{% endblock %}

{% block body %}
    <h1>Modifier la catégorie : {{ category.label }}</h1>
    <section class="py-3">
        {% include('frontend/category/_form.html.twig') with {'button_label': 'Modifier'} %}
    </section>

    <section class="py-3">
        <div class="row">
            <div class="col">
                <a class="btn btn-secondary" href="{{ path('app.categories') }}">Retour à la liste</a>
            </div>
        </div>
    <section class="py-3">
{% endblock %}