{% extends 'base.html.twig' %}

{% block title %}Les auteurs{% endblock %}

{% block body %}
    <h1>Les auteurs ({{ authors|length }})</h1>
    <section class="py-3">
        <div class="row">
            <div class="col">
                <a class="btn btn-secondary" href="{{ path('app.authors.create') }}">Ajouter un auteur</a>
            </div>
        </div>
    </section>
    <section class="py-3">
        {% include 'frontend/author/_list.html.twig' with { authors: authors } %}
    </section>
{% endblock %}
